<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageOS\AsyncEvents\Service\AsyncEvent\NotifierFactory">
        <arguments>
            <argument name="notifierClasses" xsi:type="array">
                <item name="eventbridge" xsi:type="object">MageOS\AsyncEventsAWS\Service\EventBridge</item>
                <item name="sqs" xsi:type="object">MageOS\AsyncEventsAWS\Service\SQS</item>
            </argument>
        </arguments>
    </type>
</config>
