<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="async_events_aws" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Async Events AWS</label>
            <tab>service</tab>
            <resource>Magento_Webapi::config_webapi</resource>

            <group id="eventbridge" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>EventBridge</label>
                <field id="access_key" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Key</label>
                </field>

                <field id="secret_access_key" type="obscure" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Access Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>

                <field id="region" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region</label>
                    <comment><![CDATA[Default: 'us-east-1']]></comment>
                </field>

                <field id="source" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Event source name</label>
                    <comment><![CDATA[Default: store's host name. Example: store.com]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
